APP_NAME=Taskoday API
APP_ENV=development
APP_DEBUG=true
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
HOST=0.0.0.0
PORT=8000

# MariaDB connection example:
# mysql+pymysql://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=mysql+pymysql://taskoday:taskoday@127.0.0.1:3306/taskoday

JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

